doctype html
html
    head
        title= title
    body
        h1 Lista maszyn
        ul
            each machine in machines
                li
                    a(href=`/machines/${machine.id}`)= machine.name
                    if currentUser && currentUser.role === 'admin'
                        | 
                        a(href=`/machines/${machine.id}/edit`) Edytuj
                        form(action=`/machines/${machine.id}`, method='post' style='display:inline')
                            input(type='hidden' name='_method' value='DELETE')
                            button(type='submit') Usuń
        if currentUser && currentUser.role === 'admin'
            a(href='/machines/new') Dodaj maszynę