extends ../layout

block content
    .form-container
        h1 Dodaj maszynę
        form(action='/machines' method='post')
            label(for='name') Nazwa
            input(type='text' name='name' id='name', required)
            label(for='description') Opis
            textarea(name='description' id='description')
            .button-group
                button.btn(type='submit') Zapisz
                a.btn(href='/machines') Wróć do listy maszyn