doctype html
html
    head
        title Edytuj rezerwację
    body
        h1 Edytuj rezerwację
        form(action=`/reservations/${reservation.id}`, method='post')
            input(type='hidden' name='_method' value='PUT')
            div
                label(for='machineId') Maszyna
                select(name='machineId' id='machineId', required)
                    each machine in machines
                        option(value=machine.id, selected=(machine.id == reservation.machineId))= machine.name
            div
                label(for='startDate') Od
                input(type='date' name='startDate' id='startDate', required, value=reservation.startDate)
            div
                label(for='endDate') Do
                input(type='date' name='endDate' id='endDate', required, value=reservation.endDate)
            button(type='submit') Zapisz