extends ../layout

block content
  .form-container
    h1 Edytuj rezerwację
    form(action=`/reservations/${reservation.id}`, method='post')
      input(type='hidden', name='_method', value='PUT')
      label(for='machineId') Maszyna
      select(name='machineId', id='machineId', required)
        each machine in machines
          option(value=machine.id, selected=(machine.id == reservation.machineId))= machine.name
      label(for='startDate') Od
      input(type='date', name='startDate', id='startDate', required, value=reservation.startDate)
      label(for='endDate') Do
      input(type='date', name='endDate', id='endDate', required, value=reservation.endDate)
      button.btn(type='submit') Zapisz
    a.btn(href='/reservations') Wróć do listy rezerwacji