doctype html
html
    head
        meta(charset='utf-8')
        title= title || 'Spółdzielnia rolnicza'
        link(rel='stylesheet' href='/styles.css')
    body
        if currentUser
            nav.navbar
                .nav-left
                    a.brand.nav-link(href='/') Spółdzielnia rolnicza
                .nav-center
                    a.nav-link(href='/') Strona główna
                    a.nav-link(href='/machines') Maszyny
                    a.nav-link(href='/reservations') Rezerwacje
                    if currentUser.role === 'admin'
                        a.nav-link.admin-link(href='/users') Użytkownicy
                .nav-right
                    if currentUser.role === 'admin'
                        span.badge Admin
                    span.welcome Witaj, #{currentUser.username}
                    form(action='/auth/logout' method='get')
                        button.btn(type='submit') Wyloguj się
        block content