extends layout

block content
    .form-container
        h1 Logowanie
        if error
            p.error= error
        form(method='POST' action='/auth/login')
            label(for='email') E-mail
            input#email(type='text' name='email', required)
            label(for='password') Hasło
            input#password(type='password' name='password', required)
            button.btn(type='submit') Zaloguj
        p
            | Nie masz konta?
            a(href='/auth/register') Zarejestruj się